<div class="container">
    <div class="row">
        <div class="col-12 text-center my-5">
            <h1>Tennis Score</h1>
            <p>Game between {{ player1.name }} and {{ player2.name }}</p>
            <p>{{ playerGoingFirst.name }} is serving</p>

            <div class="mt-5">
                <div *ngFor="let game of currentGame">
                    <div class="row">
                        <div class="col-4">{{ game.score }}</div>
                        <div class="col-4">{{ game.action }}</div>
                        <div class="col-4">{{ game.result }}</div>
                    </div>
                </div>
            </div>

            <button type="button" 
                    class="btn btn-warning my-5" 
                    (click)="startGame()">
                PLay again
            </button>

        </div>
    </div>
</div>